@model Assignment1FIT5032.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @*Calendar CSS library*@
    <link href='~/Content/main.css' rel='stylesheet' />
    @*Javascript Library*@ 
    <script src='~/Scripts/main.js'></script>
</head>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", id= "dateOfBooking" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to my bookings", "Index")
</div>

<script>
    //Reference https://fullcalendar.io/docs
    //Calender Function
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            // Allowing for mouse-selection of date (as in a date is selectable witha click)
            selectable: true,
            // Function to set the value of the date of booking
            select: function (info) {
                /*alert("select" + info.startStr);*/
                var dateOfBooking = document.getElementById("dateOfBooking")
                dateOfBooking.value = info.startStr;
            },
            // Displaying each booked date on the calendar
            events: [
            @foreach (var item in ViewBag.bookings){
                <text> { title: 'Booked', start: '@item' }, </text>
                }
                {}
            ]
        });
        // Rendering calendar
        calendar.render();
    });

</script>
<div>
    <div id='calendar'></div>
</div>
